
body{
    margin: auto;
    background-color: white;
}
li{
    list-style: none;
}
.bg-light{
    background-color: #f8f9fa;
}
.menu{
    font-size: 20px;
    
}
.menu:hover{
    color: rgb(36, 240, 104);
    cursor: pointer;
}
.fa-2xl{
    cursor: pointer;
    
}

/* @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap'); */


.immu_title{
    font-size: 28px;
    color: #e80f78;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.immu_title:hover {
    color: #e80f78; 
}

.nav-font{
    font-size: 20px;
}



.back{
    background-color: #387efa;;
}
.foot{
    background-color: #8f50ec;
    min-height: 80px;
    padding: 1rem;

}
.card-img{
   width: 130%;
   height: 235px;
   object-fit: cover;    
}

.bg-img{
    background: white;
    width: 320px;
}
.service{
    border-radius: 5px;
    background-color: rgb(247, 238, 238);
}
.pro-img{
    width: 18px;
}
.docc-img{
    width: 150px;
}
.doc-bg{
    background-color: rgb(222, 219, 219);
}
.profile{
    box-shadow: 4px 4px 8px gray;
    border-radius: 10px;
}
.dash-img{
    width: 150px;
    padding: 20px;
    
}

/*doc profile start */
.vaccine-card{
    transition: all 0.3s ease;
}

.vaccine-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.text-muted {
    font-size: 0.9rem;
}


/* doc profile end */

/* banner part start */

.banner {
    display: flex;
    background-image: url(./static/images/bgimg3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 0 50px; /* Adjust padding on sides */
}

.banner-title {
    text-align: left;
}

.banner-subtitle {
    text-align: left;
}

/* banner btn */
.banner-btn {
    width: 155px;
    height: 60px;
    border: none;
    color: white;
    background-color: rgb(231, 61, 106);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #e4d638;
    transition: ease-out 0.3s;
    font-size: 1rem;
    outline: none;

}
.banner-btn:hover{
    cursor: pointer;
    box-shadow: inset 300px 0 0 0 #f9e506;
    color: #000;
}
.banner-btn2{
    width: 155px;
    height: 60px;
    border: none;
    color: white;
    background-color: rgb(19, 180, 75);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.3s;
    font-size: 1rem;
    outline: none;
    /* border: 3px solid #42FBF2; */
    position: relative;
    z-index: 1;
   

}
.banner-btn2:hover{
    color: #000;
    cursor: pointer;
}
.banner-btn2:before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #42FBF2;
}
.banner-btn2:hover:before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;

}


.font {
    font-family: "Roboto", sans-serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 57px;
    color: #2C3E50;
}
p{
    font-family: 'Lato', sans-serif;
    font-weight: 400; /* Normal weight */
    line-height: 1.6; /* For comfortable reading */
    font-size: 1rem; /* Adjust as needed */
}
.font2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 19px;
    color: rgb(120, 120, 120);
}

.banner-btn:hover {
    background-color: #0056b3; /* Darker shade of primary color */
}

/* Responsive  */
@media (max-width: 768px) {
    .banner {
        height: auto; 
        padding: 0 20px;
    }
    .font {
        font-size: 2.5rem; 
    }
    .font2 {
        font-size: 1rem; 
    }
    .banner-btn {
        width: 100%; 
        text-align: center; 
    }
}

/* banner part end */

.feature-card{
    border: 1.5px solid rgb(224, 220, 220);
}
.feat-img{
    height: 90px;
    object-fit: cover; 

}
.bn-img{
    width: 400px;
   
}
.h-font{
    font-weight: bolder;
    font-style: inherit;
    font-size-adjust: initial;
   
    
}
.p-font{
    font-style: italic;
    font-weight: lighter;
    font-size: large;
    

}
.about{
    /* background-color: #b7d7dd; */
    background-color: #c6d8db;
}

.cor-img{
    width: 83%;
}
#tpc:hover{
   transform: translateY(-10px);
   background-color: red;
}
#tpc{
  
    transition: 0.5s ease;
    cursor: pointer;
}
.bor{
    border: 1px solid rgb(209, 207, 207);
    border-radius: 10px;
    
   
}
.bord{
    border: 1px solid rgb(209, 207, 207);
    background-color: #fff;
    border-radius: 8px;
    
   
}
.detail-body{
    background-color: rgb(229, 226, 226);
}
.td-design{
    background-color: darkgoldenrod

}

.table th {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.edit{
    padding: 16px 32px;
    background-color: #F3745B;
    border-radius: 5px;
}
.edit-btn{
    padding: 10px 20px;
    background-color: #F3745B;
    border: 1px solid #F3745B;
    
     

}
.prof{
    background-color: rgb(237, 237, 237);
    width: 76%;
    height: 43px;
    border-radius: 5px;
    padding: 8px;
    padding-right: 10px;
}

/* vaccine card start */

.card-img-top2 {
    height: 200px; 
    object-fit: cover; 
}
.card{
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgb(196, 196, 196);
}

/* vaccine card end */

/* review card start*/

.revg{
    color: #f26d3e;
}
.v-title{
    /* color: #007bff; */
    color: #FF5722;
    font-size: 30px;
}
.rev-title{
    font-size: 20px;
    color: #FF5722;

}

.btn-outline-custom {
    color: #FF5722; 
    border-color: #FF5722; 
    padding: 10px 25px;
}
.btn-outline-custom:hover {
    background-color: #FF5722; 
    color: #fff; 
}

.btn-outline-list{
    color: #FF5722; 
    border-color: #FF5722; 
    padding: 10px 15px;
    border-radius: 4px;

}
.btn-outline-list:hover {
    background-color: #FF5722; 
    /* color: #fff;  */
    color: rgb(243, 224, 224);
}

.btn-deep-orange {
    background-color: #04eb13; 
    color: #fff; 
    border: none;
    
}
.profile-btn{
    background-color: #e7197c;
    
    padding: 14px;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    color: white;
   
}
.profile-btn:hover{
    background-color: #c31268;
    
}
.profileEdit-btn{
    background-color: #ec4f9b;
    padding: 16px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    color: white;

}
.profileEdit-btn:hover{
    background-color: #ca4987;
    
}
.profile-pass{
    font-weight: 600;
}
.logout-btn{
    background-color: rgb(222, 116, 116);
    padding: 14px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    color: white;
}
.logout-btn:hover{
    background-color: rgb(228, 11, 11);
}

.dose-btn{
    background-color: #e80f78;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    height: 51px;

}
.dose-btn:hover{
    background-color: #c10962;
}
.submit-btn{
    background-color: #e80f78; /* YouTube red */
    color: white;
    padding: 10px 20px; /* Adequate padding for a button */
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.submit-btn:hover{
    background-color: #c5206f; 
}


.btn-info{
    padding: 10px 25px;
}
.btn-primary{
    padding: 10px 25px;
}

.vaccine-body{
    background-color: rgb(243, 224, 224);
}



/*  navigation links */

.nav-item .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: red; 
    transition: width 0.3s;
}

.nav-item .nav-link:hover::after, .nav-item .nav-link.active::after {
    width: 100%; 
}
.about-img{
    width: 90%;
    height: 90vh;
}


/* reg modal */

.modal-content {
    border-radius: 15px;
    border: none;
  }
  
  .modal-text {
    font-size: 18px;
    color: #333;
  }
  
  .modal-footer .btn {
    width: 100px;
  }









/* detail page design */

.detail-img {
    width: 100%;
    max-width: 500px;
    height: 400px;
    object-fit: cover;
}

.detailRight {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

.whole-part {
    background-color: rgb(244, 233, 233);
    border-radius: 10px;
    /* border: 5px solid rgb(233, 169, 169); */
    width: 100%;
    max-width: 1200px;
    height: auto;
    min-height: 480px;
    padding: 20px;
}

/* spacing and layout on smaller screens */
@media (max-width: 767px) {
    .whole-part {
        padding: 10px;
        min-height: 480px;
    }
    .detailRight {
        text-align: center;
    }
    .detail-img {
        width: 100%;
        max-width: 100%;
    }
}


.detailRight {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detailRight h2 {
    font-size: 1.8rem;
    color: #333;
}

.detailRight h6 {
    font-size: 1rem;
    color: #555;
}

.detailRight ul {
    padding-left: 0;
}

.detailRight li {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.detailRight a.btn {
    background-color: #ff5722; /* Deep orange */
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.detailRight a.btn:hover {
    background-color: #e64a19;
}


/* detail page design end */

/* patient profile */

.rev-card {
    width: 17rem; 
    height: 15rem; 
}
.rev-img{
    height: 110px; 
    width: 110px;
    object-fit: cover; 
}

.rob{
    font-family: 'Roboto', sans-serif;
    font-weight: 500; /* Medium weight for a more pronounced look */
    text-transform: uppercase; /* Optional: Makes the headers all uppercase */
    letter-spacing: 0.05em; /* Optional: Adds a bit of spacing between letters */
}


/* new dashboard */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;  
    text-decoration: none; 
    color: inherit; 
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fff;
    min-width: 0;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #20145e;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

#sidebar.expand .sidebar-logo,
#sidebar.expand a.sidebar-link span {
    animation: fadeIn .25s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i,
.dropdown-item i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.navbar {
    background-color: #f5f5f5;
    box-shadow: 0 0 2rem 0 rgba(33, 37, 41, .1);
}

.navbar-expand .navbar-collapse {
    min-width: 200px;
}

.avatar {
    height: 40px;
    width: 40px;
}

@media (min-width: 768px) {}



/* image hover */

.image-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.image-hover:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}


/* login register btn */

.btn-bold {
    font-weight: bold;
    border-radius: 7px;
    padding: 10px 12px;
    
    
}

.btn-deep {
    color: #ffffff; 
}

.btn-login {
    background-color: #e80f78 !important; 
    border-color: #e80f78 !important;
    color: white;
    
}
.btn-login:hover{
    background-color: #cd387e ! important;
}

.btn-outline-danger {
    color: #e80f78 !important; 
    border-color: #e80f78 !important;
}

.btn-outline-danger:hover {
    background-color: #e80f78 !important;
    color: #ffffff !important;
}



/* contact section */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.contact-body{
    margin: 0;
    padding: 0;
    font-family: "poppins";
    background-color: #0ecfc6;
    
}


/* Apply to all input fields */
.con-input::placeholder {
    
    opacity: 1;
    font-weight: 650;
}

/* Apply to the textarea separately */
#message::placeholder {
    opacity: 1;
    font-weight: 650;
}
#message{
    background-color: rgb(237, 235, 235);
}

.social-media i {
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    transition: .3s;
    color: #16f3e8;
}

.social-media i:hover {
    background: #fff;
    color: #16f3e8;
}

.first-text {
    color: #fff;
    font-weight: 650;
}

.second-text {
    font-weight: 590;
    color: #fff;
}
.icon-text{
    font-weight: 550;
}

.third-text {
    font-weight: 600;
    margin-bottom: 20px;
    color: #000;
}
.con-input {
    width: 100%;
    height: 55px;
    border: 2px solid #fff;
    border-radius: 20px; /* Add border radius here */
    outline: none;
    padding-left: 15px;
    font-size: 16px;
    background-color: rgb(237, 235, 235);
}

textarea.conn-input {
    border-radius: 20px; 
    border: 2px solid #fff;
    background-color: rgb(237, 235, 235);
    
   
}
.con-img{
    height: 360px;
    width: 360px;
}

.submit-form{
    /* background-color: #8f50ec; */
    background-color: #fff;
    
}
.item{
    border-radius: 10px;
    box-shadow: 0 16px 20px;
    background-color: #05dbd0;
}
.con-btn{
    background-color: #05c5bb;
    color: #fff;
    width: 125px;
    height: 45px;
    font-weight: bold;
}
.con-btn:hover{
    background-color: #12e1d7;
}





/* review form new */

.rating-container {
    display: flex;
    justify-content: center; /* Centers the stars horizontally */
    align-items: center; /* Centers the stars vertically if necessary */
    margin-bottom: 1rem; /* Adds some space below the stars */
}
.rating .star {
    font-size: 2rem; /* Increase the size of the stars */
    color: #FFD700; /* Gold color for the stars */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: color 0.2s ease-in-out; /* Smooth transition for color changes */
}

.rating .star:hover,
.rating .star.bxs-star {
    color: #FFA500; /* Darker gold color for filled stars */
}




